.container {
    max-width: 1024px;
    margin: 0 auto;
}

.grid {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);
}

.continent {
    width: 100%;
}

.continent__image {
    border-radius: 12px;
    width: 100%;
}
